<footer class="footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
    
    
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short">↑</i></a>
  
  
  <div class="wrapper">
    <div class="row">
      <div class="col-lg-1 col-md-6">
        {%- include social.html -%}
      </div>
      
      <div class="col-lg-5 col-md-6">
        <ul class="contact-list">
          <li class="p-name"><b>{{ site.title | escape }}</b></li>
          <li>{{ site.address }}</li>
          <li>{{ site.phone }}</li>
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      

      <div class="col-lg-6 col-md-6">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>
</footer>
<script>
  AOS.init();
</script>
